#gateways .header-bar {
    margin-top: 20px;
}

#gateways .header-text {
    margin-top: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
}

#gateways button {
    max-height: 35px;
}

#gateways md-input-container {
    margin-top: 5px;
    margin-bottom: 5px;
}