<md-toolbar id="navbar">
    <div class="md-toolbar-tools" layout="row">
        <div>DeviceConX</div>
        <md-input-container class="search-box">
            <label>search</label>
            <input/>
        </md-input-container>
        <span class="navbar-text">Filter by</span>
        <md-button id="all-groups-button" class="md-raised">All Groups</md-button>
        <span flex></span>
        <div layout="row" flex="25">
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)">
                    Inventory
                    <i class="fa fa-sort-desc arrow-down"></i>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item ng-repeat="item in NavBar.inventoryMenuItems">
                        <md-button ui-sref="{{item.state}}">
                            {{item.title}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)">
                    Admin
                    <i class="fa fa-sort-desc arrow-down"></i>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item ng-repeat="item in NavBar.adminMenuItems">
                        <md-button ui-sref="{{item.state}}">
                            {{item.title}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)">
                    VitalsConX
                    <i class="fa fa-sort-desc arrow-down"></i>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item ng-repeat="item in NavBar.vcxMenuItems">
                        <md-button ui-sref="{{item.state}}">
                            {{item.title}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>